.notes-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}

.note-card {
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.327);
  padding: 10px;
  font-family: monospace;
}

.note-title {
  font-family: "Courier New", Courier, monospace;
  letter-spacing: -1px;
}

.note-content {
  margin-top: 5px;
  margin-bottom: 5px;
}

.note-tag-pill {
  width: fit-content;
  font-family: monospace;
  letter-spacing: -1px;
  border-radius: 12px;
  padding: 1px 8px;
  /* line-height: 16px; */
}

.note-author {
  color: gray;
}
